{% load static from staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'cardtrust.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Rubik:wght@300&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/d93444fe93.js" crossorigin="anonymous"></script>
    <title>Mr.Hariharan Veeramuthu</title>
  </head>
  <body>

<!--navbars-->

  <div class="navbarss">



       <div class="id">
          <a class="nav-link" href="{% url 'home-page' %}">
              <img  src="{% static 'logo.png' %}" alt="" width="100%" height="">
          </a>
  </div>
      <!--<div class="phone">
              <i class="fa-solid fa-phone"> 7299449083</i>
          <br>
      </div>
    <div class="email">
      <i class="fa-solid fa-envelope"> info@council.com</i>
    </div>-->
  <!--<div class="btt">
    <button type="button" role="group" class="btn btn-outline-primary"> <h5>Membership</h5> </button>

  </div>
-->

   <!--navbars-->

    <nav class=" nav navbar navbar-expand-lg navbar-light justify-content-center" style="background-color: #FAFFAF;">
     <div class="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="nnn">
      <ul class="navbar-nav">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home-page' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'card-trust' %}">Card Trust</a>
        </li>
               <li class="nav-item">
          <a class="nav-link active" href="{% url 'about-us' %}">About Us</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active" href="{% url 'donate-info' %}">Donate</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active" href="{% url 'events' %}">Events</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active" href="{% url 'testimonials' %}">Testimonials</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Projects
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'cancer' %}">Cancer Hospital and Research Project</a></li>
            <li><a class="dropdown-item" href="{% url 'ro' %}">R.O Project</a></li>
              <li><a class="dropdown-item" href="{% url 'video' %}">Video</a></li>

          </ul>
		  </li>
      </ul>
        </div>
    </div>
  </div>
</nav>

  </div>

<!--middle-->

<div style="background-color: #FAFFAF;">

    <div class="teamimage"><img src="{% static 'hari.jpeg' %}" class="img-responsive" alt="" width="250px" height="250px;">
    </div>

    <div class="teamcontent">
     <h2>Mr. Hariharan Veeramuthu <br></h2>
        <h3>EXECUTIVE TRUSTEE – CARD TRUST</h3>
       <!-- <h3>DIRECTOR – RAMATHILAGAM MENORIAL TRUST, Chennai</h3>
        <h3>RTN DR.C.GIRIDHARAN </h3>
        <h3>Ex-CHAIRMAN – Meenakshi Educational Trust </h3>
        <h3>CORRESPONDENT – Maharishi Vidya Mandir, Anna Nagar </h3>-->
        <br>
    </div>

    <div style="margin:20px;">
        <h2 style="text-align:left;">PERSONAL PROFILE</h2>
        <p>
        <Li>A prudent strategist and dynamic Techno-Functional leader having 23+ years of progressive experience in leading large business transformation programs with a focus on Digital Transformation, Data Analytics, Robotics Process Automation (RPA), Artificial Intelligence (AI), Program Management, Consulting and Solution Architecture. </Li>
        <li>An innovator, specialized in leading organizations to achieve business profitability and transforming departments into cohesive units.</li>
        <li>I consistently resolve business problems with a focus to deliver results and establish strong relationships with several high-profile customers in USA, Europe, APAC and Scandinavian regions</li>
        <li>5+ years of Philanthropic services in supporting children with various disabilities – AUTISM, Learning Disabilities, Counselling & Career Development trainings </li>
        </p>
        <br>
        <h2>ACHIEVEMENTS</h2>
        <li>Recognition & Appreciation as Inspiring Leader (2020) from Maveric Founder & Director.</li>
        <li>Ericsson’s Values & Culture Coach (2016) for driving org-wide initiatives to make Ericsson as “Great Place To Work”</li>
        <li>Rock Star – Power Award (2015) from VP & Head of GCC India for delivering Business & IT Strategies, roadmaps to business and successfully leading ICT – Consultants team in rolling out the global programs.</li>
        <li>Best Employee Award (2013) for below outstanding performance within OPE organization at DELL: </li>
        <li>Implemented new sales model ATS for Consumer & Small Medium Business (CSMB) resulting in $ 1.5 million cost savings across US, EMEA & APJ.</li>
        <li>Successful GO-LIVE of new business segment SOHO (Small Office/Home Office) resulting in revenue growth of $ 2.6 million. </li>
        <li>Tesco Value Award (2010) for managing global roll out of Mall Management program in China and Central Europe. And developed TESCO Operating Model to faster delivery and excellence with 26% savings on OPEX.</li>
        <li>Tesco Value Award (2009) for managing End-End implementation of retail applications at Tesco – Fresh & Easy, USA</li>
        <li>Being a parent of a special child, I was able to support 50+ kids in our Brain Nourishing Rehabitation & Learning Center giving them all required trainings and learning needs.</li>
        <br>
        <br>
        <h2>EXPERIENCE SUMMARY</h2>
        <li>16+ years leadership experience on more than 25 programs End-End across B2B and B2C customers.</li>
        <li>Analyze existing ecosystem and derive recommendations for the execution of Digital Transformation & IT Strategy.</li>
        <li>Demonstrated strengths in Cost center management, Recruitment, Budget allocation and forecasting.</li>
        <li>Proven track-record in managing large size programs and solid stakeholder relationships at CXO levels. </li>
        <li>Ability to leverage technology/business acumen to bring-in Innovation for successful project deliveries and meet business objectives.</li>
        <li>Coach & Mentor team (upto 140+ employees) on Leadership; Values & Culture; Technical Trainings for effective execution and consulting excellence in Business Services – Center of Excellence (CoE).</li>
        <li>Largest Project Executed: 1 Billion USD Low-Cost IT for Ericsson (Low-Cost IT Transformation Program)</li>
        <br>

       <hr class="mt-3">
    </div>

     <footer>
    <h5>Copyright © 2022. Card Trust Council.
      <i class=" yo fa-brands fa-facebook fa-2xl"></i>
      <i class=" yo fa-brands fa-youtube fa-2xl"></i>
      <i class=" yo fa-brands fa-whatsapp fa-2xl"></i>
    </h5>
  </footer>

</div>



<!--contact us-->







    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
   </body>
</html>








